---
import { getCollection } from "astro:content"
import Base from "@layouts/Base.astro"
import PostSummaryCard from "@components/PostSummaryCard.astro"
import { getSortedPosts } from "@utils/posts"

const posts = await getCollection("posts")

const sortedPosts = getSortedPosts(posts)
---

<Base>
    <hgroup>
        <h1>My writings:</h1>
        <p>Hi, I'm Igor and this is my writing space. I write mainly about ML and Web tech.</p>
    </hgroup>
    {
        sortedPosts.length > 0 && (
            <section>
                <h2>My articles</h2>
                <ul>
                    {sortedPosts.map(
                        ({
                            data: { author, description, datePublished, dateModified, title },
                            slug,
                        }) => (
                            <PostSummaryCard
                                author={author}
                                body={description}
                                dateModified={dateModified}
                                datePublished={datePublished}
                                href={`/posts/${slug}`}
                                title={title}
                            />
                        )
                    )}
                </ul>
            </section>
        )
    }
</Base>

<style>
    ul {
        list-style: none;
        padding: 0;
    }
</style>
