---
import { getCollection } from "astro:content"
import Base from "@layouts/Base.astro"
import PostSummaryCard from "@components/PostSummaryCard.astro"
import { filterAndSortPosts } from "@utils/posts"

const posts = await getCollection("posts")

const sortedPosts = filterAndSortPosts(posts)
---

<Base>
    <hgroup>
        <h1>Posts</h1>
        <p>
            Hey there 👋, I'm Igor, and here are my notes mainly on machine learning, software, and
            hardware. I hope you find something useful for yourself. Feedback is highly appreciated.
            Feel free to reach out on <a href="https://twitter.com/igarbuz">X</a>.
        </p>
    </hgroup>
    {
        sortedPosts.length > 0 && (
            <section>
                <ul>
                    {sortedPosts.map(
                        ({
                            data: { author, description, datePublished, dateModified, title },
                            slug,
                        }) => (
                            <PostSummaryCard
                                author={author}
                                body={description}
                                dateModified={dateModified}
                                datePublished={datePublished}
                                href={`/posts/${slug}`}
                                title={title}
                            />
                        )
                    )}
                </ul>
            </section>
        )
    }
</Base>

<style>
    hgroup {
        margin-bottom: var(--spacing-48);
    }

    p {
        color: var(--color-txt-secondary);
    }

    ul {
        list-style: none;
        padding: 0;
    }
</style>
