---
import { getCollection } from "astro:content"
import Base from "@layouts/Base.astro"
import PostSummaryCard from "@components/PostSummaryCard.astro"
import { postFilter, sortPostsByDate } from "@utils/posts"

const posts = await getCollection("posts")

const publishedPosts = posts.filter(postFilter)

const sortedPosts = sortPostsByDate(publishedPosts)
---

<Base>
    <hgroup>
        <h1>My writings</h1>
        <p>
            Hi, I'm Igor. I write about my ML experiments, programming, and other things that that
            could be interesting to others. Sometimes in a hope somebody won't step on the same rake
            I did, sometimes from a pure curiosity.
        </p>
    </hgroup>
    {
        sortedPosts.length > 0 && (
            <section>
                <ul>
                    {sortedPosts.map(
                        ({
                            data: { author, description, datePublished, dateModified, title },
                            slug,
                        }) => (
                            <PostSummaryCard
                                author={author}
                                body={description}
                                dateModified={dateModified}
                                datePublished={datePublished}
                                href={`/posts/${slug}`}
                                title={title}
                            />
                        )
                    )}
                </ul>
            </section>
        )
    }
</Base>

<style>
    hgroup {
        margin-bottom: var(--spacing-48);
    }

    ul {
        list-style: none;
        padding: 0;
    }
</style>
