---
import { ViewTransitions } from "astro:transitions"

const { author, canonicalUrl, dateModified, datePublished, description, ogImage, siteName, title } =
    Astro.props
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/favicon/favicon.ico" />
<link rel="icon" type="image/png" sizes="64x64" href="/favicon/favicon-64x64.png" />
<link rel="canonical" href={canonicalUrl} />
<meta name="generator" content={Astro.generator} />

{/* General Meta Tags */}
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content={author} />
<link rel="sitemap" href="/sitemap-index.xml" />

{/* Open Graph / Facebook */}
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalUrl} />
<meta property="og:image" content={ogImage} />
<meta property="og:site_name" content={siteName} />

{/* Twitter */}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content={canonicalUrl} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={ogImage} />

{/* Article Published/Modified time */}
{datePublished && <meta property="article:published_time" content={datePublished.toISOString()} />}
{dateModified && <meta property="article:modified_time" content={dateModified.toISOString()} />}

<meta name="theme-color" content="#15171a" />

{/* Disable Dark Reader as the website already has the dark mode toggle */}
<meta name="darkreader-lock" />

<ViewTransitions />
