---
const googleSiteVerification = import.meta.env.PUBLIC_GOOGLE_SITE_VERIFICATION

const { author, canonicalUrl, dateModified, datePublished, description, ogImage, title } =
    Astro.props

const openGraphImage = new URL(ogImage, Astro.url.origin).href
---

{
    /**
     * Theme Switch as an external .js for an async quick load
     * c.f https://docs.astro.build/en/guides/client-side-scripts/#load-external-scripts
     * otherwise it would be included in the HTML and loaded synchronously with everything else
     */
}
<script is:inline src="/theme-switch.js"></script>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
<link rel="icon" href="/assets/favicon.ico" />
<link rel="manifest" href="/manifest.json" />
<link rel="canonical" href={canonicalUrl} />
<meta name="generator" content={Astro.generator} />

{/* General Meta Tags */}
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content={author} />
<link rel="sitemap" href="/sitemap-index.xml" />

{/* Open Graph / Facebook */}
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalUrl} />
<meta property="og:image" content={openGraphImage} />

{/* Article Published/Modified time */}
{datePublished && <meta property="article:published_time" content={datePublished.toISOString()} />}
{dateModified && <meta property="article:modified_time" content={dateModified.toISOString()} />}

{/* Twitter */}
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalUrl} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={openGraphImage} />

{
    // If PUBLIC_GOOGLE_SITE_VERIFICATION is set in the environment variable,
    // include google-site-verification tag in the heading
    // Learn more: https://support.google.com/webmasters/answer/9008080#meta_tag_verification&zippy=%2Chtml-tag
    googleSiteVerification && (
        <meta name="google-site-verification" content={googleSiteVerification} />
    )
}
