---
import { ViewTransitions } from "astro:transitions"

const { author, canonicalUrl, dateModified, datePublished, description, ogImage, title } =
    Astro.props

const openGraphImage = new URL(ogImage, Astro.url.origin).href
---

{/* TODO: remove when content is ready */}
<meta name="robots" content="noindex" />

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="48x48" href="/assets/favicon-48x48.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
<link rel="icon" href="/assets/favicon.ico" />
<link rel="manifest" href="/manifest.json" />
<link rel="canonical" href={canonicalUrl} />
<meta name="generator" content={Astro.generator} />

{/* General Meta Tags */}
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content={author} />
<link rel="sitemap" href="/sitemap-index.xml" />

{/* Open Graph / Facebook */}
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalUrl} />
<meta property="og:image" content={openGraphImage} />

{/* Twitter */}
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalUrl} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={openGraphImage} />

{/* Article Published/Modified time */}
{datePublished && <meta property="article:published_time" content={datePublished.toISOString()} />}
{dateModified && <meta property="article:modified_time" content={dateModified.toISOString()} />}

<meta name="theme-color" content="#15171a" />

{/* Disable Dark Reader as the website already has the dark mode toggle */}
<meta name="darkreader-lock" />

<ViewTransitions />

{
    /**
     * Theme Switch as an external .js for an async quick load
     * c.f https://docs.astro.build/en/guides/client-side-scripts/#load-external-scripts
     * otherwise it would be included in the HTML and loaded synchronously with everything else
     */
}
<script is:inline src="/theme-switch.js"></script>
