---
import FormattedDate from "@components/FormattedDate.astro"

interface Props {
    author: string
    body: string
    dateModified?: Date | null
    datePublished: Date
    href: string
    title: string
}

const { href, title, body, datePublished, dateModified, author } = Astro.props
---

<li>
    <a href={href}>
        <hgroup>
            <h2>
                {title}
            </h2>
            <FormattedDate
                datePublished={datePublished}
                dateModified={dateModified}
                author={author}
            />
        </hgroup>
        <div>
            {body}
        </div>
    </a>
</li>

<style>
    a {
        display: block;
        padding: var(--spacing-24);
        text-decoration: none;
    }

    a:hover {
        color: inherit;
    }

    h2 {
        margin: 0 0 var(--spacing-4);
    }

    div {
        margin-top: var(--spacing-8);
        font-size: var(--font-16);
    }

    li {
        background-color: var(--color-bg-secondary);
        border-radius: var(--rounded-8);
        margin: var(--spacing-16) 0;
        transition: background-color 0.14s ease-in-out;
    }

    /* Hover effect except for mobile where it may not be properly handled */
    @media (hover: hover) {
        li:hover {
            background-color: var(--color-bg-hover);
        }
    }
</style>
