---
import "@styles/themes.css"
import "@styles/global.css"
import type { CollectionEntry } from "astro:content"
import { SITE, LOCALE } from "@config"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
import BaseHead from "@components/BaseHead.astro"

type Props = {
    frontmatter?: Partial<CollectionEntry<"posts">["data"]>
}

/**
 * Using Astro convention frontmatter property to be able to use the layout
 * by any .md file directly https://docs.astro.build/en/basics/layouts/
 */
const {
    frontmatter: {
        author = SITE.author,
        canonicalUrl = new URL(Astro.url.pathname, Astro.site).href,
        dateModified,
        datePublished,
        description = SITE.description,
        ogImage = SITE.ogImage,
        title,
    } = {},
} = Astro.props

console.debug("ogImage", ogImage)
const ogImageUrl = new URL(ogImage, Astro.url.origin).href

console.debug("ogImageUrl", ogImageUrl)

let pageTitle = title ? `${title} • ${SITE.siteName}` : SITE.title
---

<!doctype html>
<html lang=`${LOCALE.lang ?? "en"}`>
    <head>
        <BaseHead
            author={author}
            canonicalUrl={canonicalUrl}
            dateModified={dateModified}
            datePublished={datePublished}
            description={description}
            ogImage={ogImageUrl}
            siteName={SITE.siteName}
            title={pageTitle}
        />
    </head>
    <body>
        <Header />
        {
            /* Current layout assumes everything in main is centered
        and has the same width defined in the <main> tag (c.f global.css). If needed to have
        a more complex design where the banner (i.e hero image) is wider than the main textual content,
        it is recommended to define the text content width in a new class (e.g .prose)
        and increase the width for <main> up to the hero image width.
        */
        }
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
